:: Discover the current release directory from the directory
:: of this script and the start_erl.data file
@set script_dir=%~dp0
@for %%A in ("%script_dir%\..") do @(
  set release_root_dir=%%~fA
)
@set rel_vsn=TODO
@set boot_script=%release_root_dir%\releases\%rel_vsn%\boot_win.bat
%boot_script% "%1"
